html, body, header, section, aside, footer, p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    max-width: 640px;
    font-family: "微软雅黑", Arial, "Microsoft Yahei";
    font-size: 14px;
    color: #333333;
    margin: 0 auto;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    display: block;
    border: none;
}
ul, ol, li {
    list-style: none;
}
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.lt {
    float: left;
}
.rt {
    float: right;
}
input[type=text] {
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    font-family: arial,"microsoft yahei";
    font-size: 14px;
}

/********** 公共头部，底部以及侧边栏隐藏页 **********/

/** 头部（带导航菜单） **/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid #DFDFDF;
}
.hamburger-menu {
    width: 32px;
    height: 23px;
    margin-top: 13.5px;
    position: relative;
}
.hamburger-item {
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 3px;
    background: #006395;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: .5s;
    transition: .5s;
}
.hamburger-middle {
    top: 10px;
    left: 0;
}
.hamburger-bottom {
    top: 20px;
    left: 0;
}
.site-name {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: normal;
}
.header-search {
    width: 25px;
    height: 30px;
    margin-top: 10px;
    background: url(img/search.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

/** 导航菜单 **/
.nav-menu { margin: 50px 0 0; }
.nav-menu-container {
    display: flex;
    margin: 20px 0 0 !important;
}
.nav-menu-item {
    width: auto;
    padding: 0 8px 10px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 15px;
}
.nav-menu-item > a { color: #666; }
.nav-active-menu {
    border-bottom: 1px solid #006395;
}

/** 侧边栏页 **/
.siderbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #006395;
    overflow: scroll;
    transition: all 0.2s;
    z-index: 20;
}
    /* 分类侧边栏页 */
.siderbar-category {
    left: -100%;
}
.siderbar-category > .container, .siderbar-search > .container {
    overflow: scroll;
}
.close-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(img/icons/icon-close.png);
    background-repeat: no-repeat;
    background-position: center;
}
.category-list-container {
    margin-top: 60px;
    color: #fff;
}
.category-list, .category-group {
    overflow: hidden;
}
.category-list { margin-bottom: 50px; }
.category-group {
    margin: 0 0 10px;
}
.category-title {
    font-size: 18px;
    margin-bottom: 15px;
}
.category-item {
    width: 50%;
}
.only-contain-one { width: 100%; }
.category-item a { color: #fff; }
.category-icon, .category-name {
    display: inline-block;
    vertical-align: middle;
}
.category-icon {
    width: 25px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
.category-name {
    font-size: 17px;
    line-height: 35px;
}
.divide {
    width: 150px;
    height: 1px;
    background-color: #fff;
    margin: 30px 0;
}

    /* 搜索侧边栏页 */
.siderbar-search { left: 100%; }
.search-bar {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: space-between;
    height: 30px;
    overflow: hidden;
    margin-top: 30px;
}
.search-arrow {
    width: 15px;
    height: 20px;
    margin-top: 5px;
    background-image: url(img/search-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.search-cancel {
    height: 30px;
    line-height: 30px;
    color: #fff;
}
.search-input-container, .search-input {  height: 30px; }
.search-input-container {
    flex-grow: 2;
    text-align: center;
}
.search-input {
    width: 90%;
    padding: 5px 5px 5px 25px;
    border-radius: 5px;
    background-image: url(img/search-sign.png);
    background-position: left 5px center;
    background-repeat: no-repeat;
    background-size: 17px;
    border: 0;    
}
.keyword-container {
    margin-top: 40px;
    text-align: center;
    color: #fff;
}
.keyword-title {
    font-size: 22px;
}
.keyword-content p {
    font-size: 18px;
    font-weight: 300;
    margin: 12px 0;
}
    /* 分类，搜索侧边栏页激活时的样式 */
.siderbar-category-active, .siderbar-search-active {
    left: 0;
}

/** 头部（不带导航菜单） **/
.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 15;
    border-bottom: 1px solid #DFDFDF;
}
.header-arrow {
    width: 15px;
    height: 20px;
    margin-top: 15px;
    background-image: url(img/search-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.site-name {
    width: 100%;
    height: 100%;
    text-align: center;
}
.site-logo {
    display: inline-block;
    margin-top: 7px;
    transform: scale(0.6);
}

/***** 公共底部 *****/

    /** footer **/
.footer {
    padding: 50px 0;
    background-color: #414141;
    text-align: center;
}
.footer-logo {
    display: inline-block;
    width: 110px;
}
.footer-info {
    margin: 30px 0 0;
}
.footer-link {
    color: #C5C5C5;
    padding: 5px 0;
}
.footer-link:active {
    color: #646363;
}
.footer-link b {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #C5C5C5;
    margin: 0 5px 0 10px;
    vertical-align: middle;
}
.footer-info > p {
    color: #8B8B8B;
    margin-top: 5px;
}

    /** 底部导航 **/
.footer-nav-container {
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    z-index: 10;
    background-color: #fff;
}
/*.footer-nav-container > .container {
    width: 80%;
}*/
.footer-nav-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.footer-nav-item {
    width: 33.33%;
    text-align: center;
}
.footer-nav-icon {
    width: 22px;
    height: 25px;
    margin: 0 auto 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer-nav-itemtext {
    color: #333;
    font-size: 13px;
}
.icon-1 {
    background-image: url(img/icon-1.png);
}
.icon-2 {
    background-image: url(img/icon-2.png);
}
.icon-3 {
    background-image: url(img/icon-3.png);
}
.footer-nav-active .icon-1 {
    background-image: url(img/icon-1-active.png);
}
.footer-nav-active .icon-2 {
    background-image: url(img/icon-2-active.png);
}
.footer-nav-active .icon-3 {
    background-image: url(img/icon-3-active.png);
}
.footer-nav-active .footer-nav-itemtext {
    color: #006395;
}
