/*** 顶部 ***/
.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #006395;
    z-index: 15;
}
.header-arrow {
    width: 15px;
    height: 20px;
    margin-top: 15px;
    background-image: url(img/search-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.site-name {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: normal;
}

/*** banner ***/
.banner {
    margin-top: 50px;
    overflow: hidden;
    height: 200px;
    background-image: url(img/contact-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200px;
}
.banner-title {
    margin: 35px 0 15px 0;
    text-align: center; 
}
.banner-img {
    display: inline-block;
    width: 150px;
}
.banner-text {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    color: #DDE2EC;
    line-height: 25px;
}

/*** 提供 ***/
.provide-list {
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #E4E4E4;
}
.provide-title {
    margin-bottom: 15px;
}
.provide-description {
    line-height: 25px;
    margin-bottom: 10px;
}
.email-link {
    color: #006395;
}
.provide-list:last-child {
    border-bottom: 0;
}

/*** 地址 ***/
.address-wrapper {
    padding: 50px 0;
    background-color: #006395;
    color: #fff;
}
.address-wrapper > .container {
    box-sizing: border-box;
    padding: 0 20px;
}
.address-title {
    margin-bottom: 15px;
    font-size: 22px;
}
.divide-line {
    width: 60px;
    height: 2px;
    background-color: #fff;
}
.address-content {
    margin-top: 20px;
    position: relative;
    line-height: 25px;
    padding-left: 35px;
    background: url(img/addr.png) left top 8px no-repeat;
    background-size: 22px;
}

/*** footer ***/
.footer {
    padding: 50px 0;
    background-color: #414141;
    text-align: center;
    margin-bottom: 60px;
}
.footer-logo {
    display: inline-block;
    width: 110px;
}
.footer-info {
    margin: 30px 0 0;
}
.footer-link {
    color: #C5C5C5;
    padding: 5px 0;
}
.footer-link:active {
    color: #646363;
}
.footer-link b {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #C5C5C5;
    margin: 0 5px 0 10px;
    vertical-align: middle;
}
.footer-info > p {
    color: #8B8B8B;
    margin-top: 5px;
}

/*** 底部导航 ***/
.footer-nav-container {
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    z-index: 10;
    background-color: #fff;
}
.footer-nav-container > .container {
    width: 80%;
}
.footer-nav-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.footer-nav-item {
    width: 33.33%;
    text-align: center;
}
.footer-nav-icon {
    width: 22px;
    height: 25px;
    margin: 0 auto 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer-nav-itemtext { color: #333; }
.icon-1 {
    background-image: url(img/icon-1.png);
}
.icon-2 {
    background-image: url(img/icon-2.png);
}
.icon-3 {
    background-image: url(img/icon-3.png);
}
.footer-nav-active .icon-1 {
    background-image: url(img/icon-1-active.png);
}
.footer-nav-active .icon-2 {
    background-image: url(img/icon-2-active.png);
}
.footer-nav-active .icon-3 {
    background-image: url(img/icon-3-active.png);
}
.footer-nav-active .footer-nav-itemtext {
    color: #006395;
}