/*@media screen and (max-width: 640px) {*/
    /*** 顶部 ***/
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #006395;
        z-index: 10;
    }
    .hamburger-menu {
        width: 32px;
        height: 23px;
        margin-top: 13.5px;
        position: relative;
    }
    .hamburger-item {
        position: absolute;
        width: 32px;
        height: 3px;
        border-radius: 3px;
        background: #fff;
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: .5s;
        transition: .5s;
    }
    .hamburger-middle {
        top: 10px;
        left: 0;
    }
    .hamburger-bottom {
        top: 20px;
        left: 0;
    }
    .site-name {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        line-height: 50px;
        font-weight: normal;
    }
    .header-search {
        width: 25px;
        height: 30px;
        margin-top: 10px;
        background: url(img/search.png) no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
    }
        /* 首页分类，搜索侧边栏页 */
    .siderbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #006395;
        overflow: scroll;
        transition: all 0.2s;
        z-index: 20;
    }
        /* 首页分类侧边栏页 */
    .siderbar-category {
        left: -100%;
    }
    .siderbar-category > .container, .siderbar-search > .container {
        overflow: scroll;
    }
    .close-container {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        background-image: url(img/icons/icon-close.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .category-list-container {
        margin-top: 60px;
        color: #fff;
    }
    .category-list, .category-group {
        overflow: hidden;
    }
    .category-list { margin-bottom: 50px; }
    .category-group {
        margin: 0 0 10px;
    }
    .category-title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .category-item {
        width: 50%;
    }
    .only-contain-one { width: 100%; }
    .category-item a { color: #fff; }
    .category-icon, .category-name {
        display: inline-block;
        vertical-align: middle;
    }
    .category-icon {
        width: 25px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 5px;
    }
    .category-name {
        font-size: 17px;
        line-height: 35px;
    }
    .divide {
        width: 150px;
        height: 1px;
        background-color: #fff;
        margin: 30px 0;
    }

        /* 搜索侧边栏页 */
    .siderbar-search { left: 100%; }
    .search-bar {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        justify-content: space-between;
        height: 30px;
        overflow: hidden;
        margin-top: 30px;
    }
    .search-arrow {
        width: 15px;
        height: 20px;
        margin-top: 5px;
        background-image: url(img/search-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .search-cancel {
        height: 30px;
        line-height: 30px;
        color: #fff;
    }
    .search-input-container, .search-input {  height: 30px; }
    .search-input-container {
        flex-grow: 2;
        text-align: center;
    }
    .search-input {
        width: 90%;
        padding: 5px 5px 5px 25px;
        border-radius: 5px;
        background-image: url(img/search-sign.png);
        background-position: left 5px center;
        background-repeat: no-repeat;
        background-size: 17px;
    }
    .keyword-container {
        margin-top: 40px;
        text-align: center;
        color: #fff;
    }
    .keyword-title {
        font-size: 22px;
    }
    .keyword-content p {
        font-size: 18px;
        font-weight: 300;
        margin: 12px 0;
    }
        /* 首页分类，搜索侧边栏页激活时的样式 */
    .siderbar-category-active, .siderbar-search-active {
        left: 0;
    }

    /*** banner ***/
    .banner { margin-top: 50px; }
    .banner-menu-list { margin: 10px 0; }
    .banner-menu-container {
        display: flex;
    }
    .banner-menu-item {
        width: auto;
        padding: 0 5px 10px;
        margin: 0 5px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .banner-menu-item > a { color: #666; }
    .banner-active-menu {
        border-bottom: 1px solid #006395;
    }
    .banner-items-container { margin-top: 20px; }
    .banner-item {
        position: relative;
        margin-bottom: 20px;
    }
    .banner-item > img, .banner-item-info {
        width: 100%;
    }
    .banner-item-info {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }
    .banner-item-title {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
    .banner-item-title > a { color: #fff; }

    /*** 主体新闻内容 ***/
    .main {
        margin-top: 10px;
    }
    .news-list-container, .news-list-category { overflow: hidden; }
    .news-list-container { margin-bottom: 20px; }
    .news-list-category { margin-bottom: 15px; }
    .carousel {
        width: 100%;
        padding-bottom: 25px;
        border-bottom: 1px solid #E4E4E4;
    }
    .carousel-item {
        width: 211px;
    }
    .news-img-container > img {
        width: 100%;
    }
    .news-img-intro {
        margin-top: 15px;
    }
    .news-img-intro > a {
        color: #333;
    }
    .news-item-container {
        margin-top: 20px;
    }
    .news-item {
        margin-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #E4E4E4;
    }
    .news-item:last-child {
        border-bottom: none;
    }
    .news-title {
        font-weight: normal;
        color: #000;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .news-title > a { color: #333; }
    .times {
        box-sizing: border-box;
        padding-left: 30px;
        background-image: url(img/time.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        color: #757373;
        margin-bottom: 10px;
    }
    .news-intro {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #757373;
        line-height: 25px;
    }
    .more-news-btn {
        height: 35px;
        line-height: 35px;
        color: #fff;
        background-color: #006395;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        margin: 20px 0 50px;
    }
    .more-news-btn:active {
        background-color: #D1D1D1;
    }

    /*** 订阅邮件部分 ***/
    .subscribe {
        padding: 50px 0;
        background-color: #FAFAFA;
        text-align: center;
    }
    .subscribe-sign, .subscribe-title {
        display: inline-block;
        vertical-align: middle;
    }
    .subscribe-sign {
        width: 40px;
    }
    .subscribe-sign > img {
        width: 100%;
    }
    .subscribe-title {
        font-size: 20px;
    }
    .subscribe-description {
        margin: 30px 0;
        font-size: 15px;
        line-height: 25px;
    }
    .subscribe-input {
        border: none;
        border-bottom: 1px solid #A3A3A3;
        padding: 5px 15px;
        background-color: #FAFAFA;
        text-align: center;
    }
    .subscribe-btn {
        width: 155px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #006395;
        color: #006395;
        margin: 25px auto 0;
        font-size: 15px;
    }

    /*** footer ***/
    .footer {
        padding: 50px 0;
        background-color: #414141;
        text-align: center;
        margin-bottom: 60px;
    }
    .footer-logo {
        display: inline-block;
        width: 110px;
    }
    .footer-info {
        margin: 30px 0 0;
    }
    .footer-link {
        color: #C5C5C5;
        padding: 5px 0;
    }
    .footer-link b {
        display: inline-block;
        width: 1px;
        height: 14px;
        background-color: #C5C5C5;
        margin: 0 5px 0 10px;
        vertical-align: middle;
    }
    .footer-info > p {
        color: #8B8B8B;
        margin-top: 5px;
    }

    /*** 底部导航 ***/
    .footer-nav-container {
        position: fixed;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        padding-top: 10px;
        height: 60px;
        z-index: 10;
        background-color: #fff;
    }
    .footer-nav-container > .container {
        width: 80%;
    }
    .footer-nav-list {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    .footer-nav-item {
        width: 33.33%;
        text-align: center;
    }
    .footer-nav-icon {
        width: 22px;
        height: 25px;
        margin: 0 auto 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .footer-nav-itemtext { color: #333; }
    .icon-1 {
        background-image: url(img/icon-1.png);
    }
    .icon-2 {
        background-image: url(img/icon-2.png);
    }
    .icon-3 {
        background-image: url(img/icon-3.png);
    }
    .footer-nav-active .icon-1 {
        background-image: url(img/icon-1-active.png);
    }
    .footer-nav-active .icon-2 {
        background-image: url(img/icon-2-active.png);
    }
    .footer-nav-active .icon-3 {
        background-image: url(img/icon-3-active.png);
    }
    .footer-nav-active .footer-nav-itemtext {
        color: #006395;
    }
/*}*/