/*** 顶部 ***/

/*** banner ***/
.banner {
    margin-top: 50px;
    overflow: hidden;
    height: 200px;
    background-image: url(img/join-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200px;
}
.banner-title {
    margin: 35px 0 15px 0;
    text-align: center; 
}
.banner-img {
    display: inline-block;
    width: 250px;
}
.banner-text {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    color: #DDE2EC;
    line-height: 25px;
    text-align: center;
}

/*** 团队展示 ***/
.our-team {
    padding: 40px 0;
    background-color: #fff;
}
.team-photo {
    width: 100%;
}
.team-pagination {
    position: relative;
    bottom: 0 !important;
    margin-top: 20px;
}
.swiper-pagination-bullet {
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #A0A0A0;
    margin: 0 5px;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    border: 1px solid #006395;
    background-color: #fff;
}

/*** 将与谁一起工作 ***/
.work-together {
    padding: 50px 0;
    background-color: #F7F7F7;
}
.work-title {
    text-align: center;
    color: #006395;
    font-size: 22px;
    margin-bottom: 30px;
}
.work-together-wrapper {
    position: relative;
}
.prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    background-size: contain;
    z-index: 5;
}
.prev-arrow {
    background-image: url(img/left-arrow.png);
}
.next-arrow {
    background-image: url(img/right-arrow.png);
    right: 0;
}
.work-together-content {
    position: relative;
    width: 75%;
    height: 430px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.work-together-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}
.work-together-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background-color: #fff;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 15px; 
}
.work-together-photo {
    margin-bottom: 15px;
    text-align: center; 
}
.work-together-img {
    display: inline-block;
}
.work-together-name {
    text-align: center;
    margin-bottom: 15px;
}
.welcome-text {
    position: relative;
    padding: 30px 0;
    line-height: 25px;
    text-align: center;
}
.welcome-text:before {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    background: url(img/comma-a.png) no-repeat;
    background-size: contain;
    margin-left: -10px;
}
.welcome-text:after {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background: url(img/comma-b.png) no-repeat;
    background-size: contain;
    margin-left: -10px;
}

/*** 职位 ***/
.job {
    padding: 50px 0;
}
.job-title {
    text-align: center;
    color: #006395;
    font-size: 22px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #b5b5b5;
}
.job-list {
    overflow: hidden;
}
.job-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #b5b5b5;
    text-align: center;
    color: #666666;
}
.job-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 15px;
}
.job-icon-one {
    background: url(img/recruitment-1.png) #F0EDED center no-repeat;
    background-size: 60%;    
}
.job-icon-two {
    background: url(img/recruitment-2.png) #F0EDED center no-repeat;
    background-size: 60%;
}
.job-name {
    font-size: 15px;
    margin-bottom: 20px;
}
.job-intro {
    line-height: 25px;
}
.job-intro > p {
    margin-bottom: 10px;
}
.job-intro > .job-description {
    text-align: justify;
}
.email-link {
    color: #006395;
}
.job-tips {
    line-height: 25px;
    color: #999999;
}