/*** 顶部 ***/

/*** 主体内容 评论文章列表 ***/
.review-item {
    padding: 30px 0;
    border-bottom: 1px solid #E4E4E4;
}
.review-item:last-child {
    border-bottom: 0;
}
.review-name, .review-article, .review-text {
    margin-bottom: 10px;
}
.review-article > a {
    color: #252525;
}
.review-text {
    color: #666666;
    line-height: 25px;
}
.review-time-container {
    overflow: hidden;
    color: #999999;
    line-height: 20px;
}
.review-time {
    margin-right: 10px;
}
.more-review-btn {
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #006395;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0 50px;
}
.more-review-btn:active {
    background-color: #D1D1D1;
}